.rtl-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}
  .rtl-modal-content {
    width: 700px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
    outline: none;
  }
   .close {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  .close:hover {
    background-color: #d32f2f;
    transform: scale(1.1);
  }  
  .close:active {
    transform: scale(0.9);
  }
  .modal-body {
    padding: 20px;
  }
  
    /* Responsive */
    @media screen and (max-width: 1199px) {
    
    }
    
    @media screen and (max-width: 991px) {
      .rtl-modal-content{
        width: 600px;
      }
    }
    
    @media screen and (max-width: 767px) {
      .rtl-modal-content{
        width: 450px;
      }
    }
    
    @media screen and (max-width: 576px) {
      .rtl-modal-content{
        width: 350px;
      }
    }
    
    @media screen and (max-width: 400px) {
      .rtl-modal-content{
        width: 300px;
      }
    }